h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: "Poppins";
  color: var(--white-color);
  background-color: #000;
  backdrop-filter: blur(7px);
}

*::placeholder {
  font-family: "Poppins";
}

* {
  box-sizing: border-box;
}
.link {
  color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
:root {
  --white-color: #fff;
  --black-color: #000;
  --orange-color: #e87d0e;
  --head-btn-color: #fa9021;
  --gradient-btn: #fa8305, #fb9e3c;
  --point-color: #dc7000;
  --icon-color: #dc7000;
}
.btn {
  color: #fff;
  border: none;
  transition: opacity ease-in-out 0.3s;
  position: relative;
}
.btn:hover {
  opacity: 0.9;
}
.btn:active {
  top: 1px;
}
.btn--small {
  font-size: 13px;
  line-height: normal;
  padding: 10.5px 30px;
}
.btn--medium {
  font-size: 16px;
  line-height: 1.875;
  padding: 9px 21.5px;
}
.btn--rect {
  font-size: 14px;
  line-height: 1.875;
  padding: 7px 25px;
}

.btn--rounded-full {
  border-radius: 60px;
}
.btn--rounded-6 {
  border-radius: 6px;
}
.btn--gradient {
  background: linear-gradient(113deg, #fa8305 0%, #fb9e3c 100%);
}
.btn--orange {
  background-color: #dc7000;
}
.btn--blue {
  background-color: #2351f5;
}
.btn--pink {
  background-color: #ff8484;
}
.btn--green {
  background-color: #23a54f;
}
.btn--violet {
  background-color: #9921c3;
}
.header {
  left: 0;
  right: 0;
  top: 0;
  padding-top: 37px;
  padding-bottom: 37px;
  position: fixed;
  transition: all ease-in-out 0.3s;
  z-index: 10;
}
.header .container {
  width: 1330px;
}
.header.fixed {
  padding-top: 30px;
  padding-bottom: 15px;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-size: 29px;
  font-weight: 800;
}
.header__right {
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 88px;
}
.header__link {
  font-size: 16px;
  font-weight: 400;
}
.header__link:active,
.header__link:hover,
.header__focus {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--icon-color);
}
.header__btn {
  background-color: var(--head-btn-color);
  border-radius: 6px;

  font-size: 13px;
  font-weight: 400;
  padding: 10px 28px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color ease-in-out 0.3s;
}
.header__btn:hover {
  background-color: var(--point-color);
}
.header__btn:active {
  top: 1px;
}
.hero__btn {
  margin-top: 57px;
}
.header__btn .btn {
  font-weight: 500;
}
.hero {
  padding-top: 203px;
  padding-bottom: 178px;
  position: relative;
}
.hero__content {
  max-width: 527px;
}
.hero__txt {
  color: var(--orange-color);

  font-size: 20px;
  font-weight: 700;
  line-height: 1.552;
}
.hero__title {
  margin-top: 17px;

  font-size: 50px;
  font-weight: 700;
  line-height: 1.552;
}
.hero__description {
  margin-top: 26px;

  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}
.hero__img {
  position: absolute;
  top: 0;
  right: 0;
  fill: #fff;
}
.hero__unity {
  position: absolute;
  left: -123px;
  top: 409px;
}
.hero__unreal {
  position: absolute;
  left: 396px;
  top: 218px;
}
.hero__cry {
  position: absolute;
  left: 56px;
  top: 202px;
}
.gamers__head {
  display: flex;
  justify-content: space-between;
}
.gamers__title {
  font-family: "Rubik";
  font-size: 31px;
  font-weight: 700;
  line-height: 1.875;
}
.gamers__btn {
  color: var(--white-color);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.11);

  border: none;
  padding: 10px 30px;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.875;
  position: relative;
}
.gamers__btn:hover {
  opacity: 0.9;
}
.gamers__btn:active {
  top: 1px;
}
.gamers__list {
  display: flex;
  gap: 47px;
  margin-top: 57px;
}
.gamers__block {
  width: 251px;
  height: 277px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gamers__block img {
  height: 100%;
  width: auto;
  max-width: none;
}
.gamers__description {
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.gamers__icon {
  fill: var(--white-color);
}
.gamers__txt {
  font-family: "Rubik";
  font-size: 22px;
  font-weight: 500;
  line-height: 1.875;
}
.spiderblock {
  padding-top: 129px;
  padding-bottom: 157px;
}
.spiderblock__title {
  font-size: 35px;
  font-weight: 600;
  line-height: 1.875;
  text-align: center;
}
.spiderblock__description {
  margin-top: 67px;

  font-size: 30px;
  font-weight: 600;
  line-height: 1.875;
}
.spiderblock__txt {
  margin-top: 32px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  max-width: 545px;
}
.spiderblock__points {
  position: relative;
}
.spiderblock__img {
  width: 100%;
  overflow: hidden;
  height: 462px;
  border-radius: 7px;
  margin-top: 46px;
  z-index: 100;
  position: relative;
}
.spiderblock__img img {
  width: 100%;
  height: auto;
}
.spiderblock__icon {
  fill: var(--point-color);
  position: absolute;
  top: -67px;
  right: 125px;
  opacity: 0.35;
}
.mountain {
  padding-top: 93px;
  padding-bottom: 93px;
  background: url(./img/img/imgblock-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.mountain:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    rgba(0, 0, 0, 0.54);
  backdrop-filter: blur(2px);
  z-index: 2;
}
.mountain .container {
  position: relative;
  z-index: 3;
}
.mountain__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
}
.mountain__description {
  margin-top: 25px;

  font-size: 16px;
  line-height: 1.875;
  text-align: center;
}
.mountain__list {
  margin-top: 99px;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
}
.mountain__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mountain__circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}
.mountain__svg {
  fill: var(--point-color);
}
.mountain__txt {
  margin-top: 30px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
}
.mountain__icon {
  fill: var(--icon-color);
  margin-top: 24px;
  transition: all ease-in-out 0.3s;
}
.mountain__item:hover .mountain__icon {
  transform: translateX(30px);
}
.projects {
  padding-top: 148px;
  padding-bottom: 105px;
  background: #000;
}

.projects__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
}
.projects__description {
  margin-top: 15px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.875;
  text-align: center;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 71px;
  gap: 27px;
  list-style-type: none;
}
.projects__item {
  width: 371px;
  overflow: hidden;
  border-radius: 20px;
  flex-grow: 1;
}
.projects__item:nth-child(4) {
  width: 246px;
}
.projects__item a {
  display: block;
}
.projects__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
}
.projects__img img {
  min-height: 100%;
  min-width: 100%;
  max-width: none;
}
.projects__button {
  display: flex;
  justify-content: center;
}
.projects__btn {
  color: var(--white-color);
  margin-top: 72px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.11);
  border: none;
  padding: 10px 30px;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.875;
  position: relative;
}
.projects__btn:hover {
  opacity: 0.9;
}
.projects__btn:active {
  top: 1px;
}
.lorem {
  padding-top: 74px;
  padding-bottom: 163px;
}
.lorem__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.875;
}
.lorem__description {
  margin-top: 32px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
}
.lorem__block {
  margin-top: 74px;
  padding: 40px 50px 42px 50px;
  background-color: #1c140f;
  border-radius: 15px;
  display: flex;
  gap: 42px;
  justify-content: space-between;
  align-items: center;
}
.lorem__block-title {
  font-size: 30px;
  line-height: normal;
  font-weight: 500;
}
.lorem__block-description {
  margin-top: 10px;

  font-size: 17px;
  line-height: normal;
  font-weight: 400;
}
.lorem__block-form {
  height: 48px;
  overflow: hidden;
  width: 385px;
  position: relative;
}
.lorem__block-input {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  padding-left: 20px;
  padding-right: 112px;
  border-radius: 8px;
  font-size: 13px;
  outline: none;
}
.lorem__block-btn {
  position: absolute;
  right: 6px;
  top: 6px;
  padding: 8.5px 15px;
}
.lorem__block-btn:active {
  top: 7px;
}
.footer {
  padding-top: 73px;
  padding-bottom: 29px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__title {
  color: #fff;

  font-size: 24px;
  font-weight: 800;
  line-height: 1.535;
}
.footer__description {
  margin-top: 15px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
.footer__txt {
  margin-top: 25px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
.footer__block-title {
  color: #fff;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
}
.footer__list {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__item {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.863;
}
.footer__list-social {
  display: flex;
  gap: 16px;
}
.footer__block-social {
  display: flex;
  align-items: flex-end;
}
.footer__link {
  background-color: var(--white-color);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__svg {
  fill: var(--black-color);
}
.footer__line {
  margin-top: 56px;
  padding-top: 29px;
  border-top: 0.8px solid #d2d2d2;
}
.footer__txt-two {
  color: #fff;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.906;
  text-align: center;
}
.current {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--icon-color);
}
.abouthero {
  position: relative;
  padding-top: 34px;
  padding-bottom: 144px;
}
.abouthero__picture {
  position: absolute;
  right: 0;
  top: 121px;
  bottom: 0;
  width: 739px;
  height: 656px;
  overflow: hidden;
}
.abouthero__icon {
  fill: var(--white-color);
  transition: fill ease-in-out 0.3s;
  position: relative;
}
.abouthero__block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  gap: 27px;
  z-index: 3;
  height: 67px;
  align-items: center;
}
.abouthero-swiper__btn {
  padding: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border: none;
}
.abouthero-swiper__btn:hover .abouthero__icon {
  fill: #dc7000;
}
.abouthero-swiper__btn:active .abouthero__icon {
  top: 1px;
}
.abouthero__content {
  margin-top: 132px;
  max-width: 425px;
}
.abouthero__link {
  font-size: 12px;
  line-height: 2.085;
}
.abouthero__txt {
  color: #e47500;
}
.abouthero__title {
  margin-top: 38px;

  font-size: 30px;
  font-weight: 700;
  line-height: 1.805;
}
.abouthero__description {
  margin-top: 25px;

  font-size: 15px;
  line-height: 2.085;
}
.abouthero__btn {
  margin-top: 57px;
}
.advantages {
  padding-top: 144px;
  padding-bottom: 147px;
  background-color: var(--black-color);
}
.advantages__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.805;
}
.advantages__list {
  display: flex;
  gap: 43px;
  margin-top: 63px;
}
.advantages__item {
  background-color: #1c140f;
  display: flex;
  flex-direction: column;
  padding: 64px 37px;
  border-radius: 20px;
}
.advantages__item-txt {
  font-size: 14px;
  line-height: 1.875;
  display: inline;
  border-radius: 8px;
  max-width: 140px;
  text-align: center;
}
.txt--one {
  background-color: rgba(176, 0, 220, 0.11);
}
.txt--two {
  background-color: rgba(220, 66, 0, 0.11);
}
.txt--three {
  background-color: rgba(0, 220, 141, 0.11);
}
.advantages__item-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.875;
  margin-top: 19px;
}
.advantages__item-description {
  font-size: 14px;
  line-height: 1.875;
  margin-top: 16px;
}
.girlblock {
  background-color: #1c140f;
  padding-top: 113px;
}
.girlblock__content {
  display: flex;
  gap: 95px;
}
.girlblock__picture {
  width: 496px;
  height: 490px;
  overflow: hidden;
}
.girlblock__block {
  max-width: 536px;
}
.girlblock__txt {
  margin-top: 21px;

  font-size: 16px;
  font-weight: 500;
  line-height: 2.025;
}
.girlblock__title {
  margin-top: 14px;

  font-size: 28px;
  font-weight: 600;
  line-height: 1.575;
}
.girlblock__description {
  margin-top: 14px;

  font-size: 16px;
  line-height: 2.025;
}
.team {
  padding-top: 148px;
  padding-bottom: 157px;
}
.team__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.805;
}
.team__list {
  margin-top: 53px;
  display: flex;
  gap: 28px;
}
.team__item {
  border-radius: 20px;
  background-color: #1c140f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 75px;
  text-align: center;
}
.team__name {
  font-size: 19px;
  font-weight: 600;
  line-height: 2.025;
}
.team__proffession {
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.025;
}
.form {
  padding-top: 196px;
}
.form__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__link {
  font-size: 16px;
  line-height: 2.085;
}
.form__txt {
  color: #e47500;
}
.form__title {
  margin-top: 15px;
  font-size: 33px;
  font-weight: 600;
  line-height: 1.805;
}
.form__description {
  margin-top: 13px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
}
.form__search {
  display: flex;
  gap: 19px;
  margin-top: 74px;
  background-color: #1c140f;
  border-radius: 10px;
  padding: 18px 10px 16px 25px;
}
.form__btn {
  background-color: #1c140f;
  border: none;
}
.form__input {
  background-color: #1c140f;
  border: none;
  color: var(--white-color);
  font-size: 16px;
}
.news {
  padding-top: 103px;
}
.news .container {
  width: 1300px;
}
.news__content {
  display: flex;
  gap: 72px;
}
.news__content-left,
.news__content-right {
  width: calc(100% / 2);
}
.news__left-list {
  display: flex;
  flex-direction: column;
}
.news__picture-left {
  width: 587px;
  overflow: hidden;
  border-radius: 20px;
}
.news__button-left {
  margin-top: 21px;
  display: flex;
  gap: 19px;
  align-items: center;
}
.news__title-left {
  margin-top: 21px;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}
.news__description-left {
  margin-top: 32px;
  font-size: 17px;
  line-height: 2.078;
}
.news__txt-left {
  margin-top: 44px;
  font-size: 17px;
  line-height: 2.078;
  border-bottom: 0.7px solid #a5a5a5;
  margin-bottom: 90px;
  padding-bottom: 90px;
}
.news__unit-title {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.875;
}
.news__unit-description {
  margin-top: 32px;
  font-size: 16px;
  line-height: 1.875;
}
.news__right-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.news__link {
  display: flex;
  gap: 31px;
}
.news__img {
  width: 195px;
  overflow: hidden;
  height: 183px;
  border-radius: 20px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news__img img {
  width: auto;
  max-width: none;
  height: 100%;
}
.news__block {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.news__button {
  display: flex;
  gap: 16px;
  align-items: center;
}
.news__txt {
  font-size: 14px;
  line-height: 1.875;
}
.news__head {
  font-size: 23px;
  font-weight: 600;
  line-height: normal;
}
.lorem .container {
  width: 1300px;
}
.contacts {
  padding-top: 186px;
  padding-bottom: 160px;
}
.contacts .container {
  width: 1190px;
}
.contacts__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__link {
  font-size: 16px;
  line-height: 2.085;
}
.contacts__txt {
  color: #e47500;
}
.contacts__title {
  margin-top: 15px;
  font-size: 33px;
  font-weight: 600;
  line-height: 1.805;
}
.contacts__description {
  margin-top: 13px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
}
.contacts__picture {
  margin-top: 93px;
  width: 100%;
  overflow: hidden;
}
.contacts__block {
  margin-top: 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts__block-one {
}
.contacts__block-title {
  font-size: 16px;
  line-height: 1.895;
}
.contacts__block-list {
  margin-top: 18px;
  display: flex;
  gap: 16px;
}
.contacts__block-item {
  background-color: #1c140f;
  border-radius: 50%;
  padding: 11px 11px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__block-icon {
  fill: var(--white-color);
}
.contacts__block-two {
  display: flex;
  gap: 25px;
  padding: 0 105px;
  height: 102px;
  align-items: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.contacts__block-phone {
  fill: var(--white-color);
}
.contacts__block-number {
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}
.contacts__block-three {
  display: flex;
  gap: 19px;
}
.contacts__block-point {
  fill: var(--white-color);
}
.contacts__block-location {
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}
.mold {
  background-color: #1c140f;
  padding-top: 54px;
  padding-bottom: 63px;
}
.mold__title {
  font-size: 30px;
  line-height: 1.895;
  text-align: center;
}
.mold__description {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.895;
  text-align: center;
}
.mold__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 670px;
  margin: 0 auto;
  margin-top: 79px;
}
.mold__line {
  display: flex;
  gap: 27px;
}
.mold__line .mold__block {
  width: 50%;
}
.mold__txt {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.754;
  letter-spacing: -0.3px;
  margin-bottom: 6px;
}
.mold__block input,
.mold__block textarea {
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.07);
  border: 0.6px solid #cecece;
  height: 56px;
  width: 100%;
  color: #fff;
  padding: 10px 25px;
  outline: none;
  transition: border-color ease-in-out 0.3s;
}

.mold__block input:focus,
.mold__block textarea:focus {
  border-color: #dc7000;
}

.mold__block textarea {
  height: 230px;
  resize: none;
}

.mold__textarea {
  width: 671px;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.07);
  border: 0.6px solid #cecece;
}
.mold__button {
  display: flex;
  justify-content: end;
  padding-top: 31px;
}
.mold__btn {
  padding: 16px 48px;
  border-radius: 10px;
}
.statistick {
  margin-top: 45px;
  background-color: #1c140f;
  border-radius: 10px;
  padding: 67px 83px 67px 91px;
}
.statistick__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statistick__item {
  display: flex;
  gap: 36px;
}
.statistick__wrapper {
  background-color: #ffecec;
  border-radius: 70px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistick__icon {
  fill: rgba(220, 112, 0, 1);
}
.statistick__block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.statistick__text {
  color: var(--white-color);
  font-size: 20px;
  font-family: "Rubik";
  line-height: 1.5;
}
.statistick__number {
  color: var(--white-color);
  font-family: "Rubik";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}
.item-border {
  border-left: 2px solid #eeeff2;
  border-right: 2px solid #eeeff2;
  padding: 0 113px 0 134px;
  height: 125px;
  align-items: center;
}
.blockspider {
  margin-top: 132px;
}
.blockspider__content {
  display: flex;
  gap: 87px;
}
.blockspider__picture {
  /* width: 100%;
  height: auto;
  overflow: hidden; */
  border-radius: 16px;
  box-shadow: 0px 2px 4px 0px rgba(47, 48, 53, 0.15);
}
.blockspider__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.805;
}
.blockspider__description {
  font-size: 14px;
  line-height: 1.875;
  margin-top: 12px;
}
.blockspider__list {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.blockspider__item {
  display: flex;
  gap: 10px;
}
.blockgames {
  padding-bottom: 168px;
}
.blockspider__icon {
  fill: rgba(47, 171, 115, 1);
}
.blockgames__block {
  margin-top: 189px;
  display: flex;
  gap: 138px;
}
.blockgames__textblock {
  max-width: 536px;
  margin: 0 auto;
}
.blockgames__title {
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
}
.blockgames__description {
  margin-top: 43px;
  font-size: 17px;
  line-height: normal;
}
.blockgames__text {
  margin-top: 30px;
  font-size: 17px;
  line-height: normal;
}
.blockgames__btn {
  margin-top: 46px;
  font-size: 16px;
  line-height: normal;
  padding: 13px 44px;
}
.blockgames__picture {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.reviews {
  background-color: #1c140f;
  padding-top: 88px;
  padding-bottom: 180px;
}
.reviews__title {
  font-family: "Rubik";
  font-size: 35px;
  font-weight: 500;
  line-height: 1.428;
  text-align: center;
}
.reviews__description {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.875;
  text-align: center;
}
.reviews__list {
  margin-top: 68px;
  display: flex;
  gap: 50px;
}
.reviews__item {
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #ddd;
  width: 400px;
  margin: 0 auto;
}
.reviews__information {
  display: flex;
  gap: 20px;
  align-items: center;
}
.reviews__picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__name {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.666;
}
.reviews__address {
  margin-top: 5px;
  color: #4f5665;
  font-family: "Rubik";
  font-size: 14px;
  line-height: 2.142;
}
.reviews__rating {
  margin-left: 25px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 1.875;
}
.reviews__star {
  fill: rgba(254, 162, 80, 1);
}
.reviews__txt {
  margin-top: 26px;
  font-size: 14px;
  line-height: 1.875;
}
.reviews__icons {
  display: flex;
  justify-content: space-between;
}
.reviews__points {
  margin-top: 82px;
}
.reviews__arrows {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}
.reviews__arrow-left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #dc7000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reviews__arrow-right {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #dc7000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.reviews__arrow-left:hover,
.reviews__arrow-right:hover,
.reviews__arrow-left:focus,
.reviews__arrow-right:focus {
  background-color: #dc7000;
}
.reviews__arrow-icon {
  fill: rgba(220, 112, 0, 1);
}
.reviews__arrow-left:hover .reviews__arrow-icon,
.reviews__arrow-right:hover .reviews__arrow-icon {
  fill: var(--white-color);
}
